body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #777a77;
    color: #fff;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button.ingame-button {
    background-color: #7f9380;
    color: #fff;
    padding: 10px;
    margin: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: #404240;
}

button.ingame-button:hover {
    background-color: #404240;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

select {
    width: calc(100% - 4px);
    margin-bottom: 16px;
}

#game-container-div, #menu-container-div {
    position: relative;
    background-color: #ded4d4;
    border-radius: 8px;
    border-width: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
}

#game-container-div {
    height: 500px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.button-row {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#playerInfoContainer {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-content-div {
    background-color: #ccc;
    height: 73%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#infoButton {
    background-color: #2a2727;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

#infoButton:hover {
    background-color: #696868;
}

#player-name-p {
    text-align: left;
    font-weight: bold;
}
#player-class-p {
    text-align: left;
    font-weight: bold;
}